
* {
  box-sizing: border-box;
}

body {
  background-color: #F0F8FF;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

p {
  font-family: 'Roboto', sans-serif;
}

h1, h3 {
  border: 1px solid red;
  font-family: 'Barrio', cursive;
}
header {

  display: inline-block;
}

nav {
  border: 1px solid green;
}
nav ul li {
  border: 1px solid red;
  list-style-type: none;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: black;
  text-decoration: none;
}

.main-image {
  padding-top: 25px;
  padding-bottom: 10px;
  width: 80%;
  margin:0 auto;
  border: 1px solid purple;
}

  img {
    max-width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 10px;
}

header p {
  border: 1px solid purple;
  padding-bottom: 10px;
}

.portfolio {
  padding-top: 25px;
  padding-bottom: 10px;
}

main {
  border: 1px solid black;
  width: 90%;
  margin:0 auto;

}

main div {
  border: 1px solid yellow;
}

footer {
  border: 1px solid blue;
}

.footer-nav li{
   list-style-type: none;
}

.uppercase {
  text-transform: uppercase;
}

.footer-nav {
  border: 1px solid yellow;
}
